.movieDetail {
  .headerWrapper {
  }
  .contentWrapper {
    background-color: rgb(240, 240, 240);
    padding: 30px 0;
    .contentBox {
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 5px;
      .movieInfo {
        margin: 0px 0 0 0;
        padding: 5px 5px 5px 5px;
        .infoHeader {
          display: flex;
          justify-content: space-between;
          font-size: 19px;
          font-weight: bold;
          span {
            font-size: 17px;
            color: hotpink;
            cursor: pointer;
          }
        }
        .infoContent {
          margin-top: 10px;
          font-size: 15px;
        }
      }
    }
  }
}
