.container1 {
  width: 100%;
  position: relative;
  overflow: visible;
  width: 1300px;
  height: 1190px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 60px;
}

.container2 {
  width: 100%;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  padding-top: 30px;
}
  