.eval {
  &__root {
    margin: 0 50px 50px 50px;
    padding-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: rgb(20, 21, 23);
  }
  &__button {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    padding: 0px 18px;
    text-align: center;
    border-radius: 40px;
    position: absolute;
    top: 46px;
    right: 4%;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 24);
    font-weight: 900;
    letter-spacing: -0.2px;
    cursor: pointer;
  }
}
@media ( max-width: 1170px ) {
  .eval__button {
    position: static;
    margin-top: 38px;
  }
}