.fullscreen {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalHeaderWrapper {
  border-bottom: 1px solid lightgrey;
  padding: 0.6rem 0;
}
.commentModalBlock {
  width: 600px;
  height: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.125);
  .modalHeaderBlock {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .span1 {
      color: hotpink;
      cursor: pointer;
    }
    .registerButton {
      cursor: pointer;
      background-color: white;
      color: hotpink;
    }
    .unregisterButton {
      cursor: pointer;
      background-color: white;
      color: black;
    }
    span:nth-child(2) {
      font-weight: bold;
      margin-left: 30px;
    }
  }
  .modalContent {
    padding: 15px;
    font-size: 20px;
    height: 90%;
  }
}

.inputForm {
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 600;
  border: 0px;
  resize: none;
  outline: none;
  padding: 0 5px;
  box-sizing: border-box;
}
