.commentBox {
  padding: 10px;
  max-width: 48%;
  border-radius: 3px;
  background-color: #f2f2f2;
  .header {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid rgb(235, 233, 233);

    div {
      padding-left: 5px;
      font-weight: 400;
      border-radius: 13px;
      color: rgb(58, 58, 58);
      background-color: white;
      span {
        font-size: 18px;
      }
      .score {
        font-size: 15px;
      }
    }
  }
  .content {
    padding: 5px 0;
    cursor: pointer;
    height: 150px;
    border-bottom: 1px solid rgb(235, 233, 233);
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
  }
  .footer1 {
    padding: 10px 0;
    border-bottom: 1px solid rgb(235, 233, 233);
  }
  .commentUnlike {
    margin-top: 8px;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 5px;
    font-weight: 500;
    color: rgb(255, 58, 156);
  }
  .commentLike {
    margin-top: 8px;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 58, 156);
    padding: 5px 5px;
    font-weight: 500;
    color: white;
  }
}
.commentBox:nth-child(even) {
  margin-left: 10px;
}

.profileBox {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
