.signup_subsection_div {
  background-color: black;
  // width: "100%",
  height: 300px;
  border-top: solid #222 8px;
  padding: 60px;
}
.signup_subsection_div_div {
  display: flex;
  width: 90vw;
  max-width: 1100px;
  height: 300px;
  margin: auto;
}

.signup_subsection_div_div_div {
  width: 50%;
  color: white;
  margin-right: 3vw;
}

.signup_subsection_div_div_div_div {
  font-size: 50px;
  font-weight: bold;
  margin-top: 30px;
}

.signup_img_div {
  height: 100%;
  width: 50%;
  color: black;
}
.signup_img {
  height: 400px;
  width: 500px;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
}

.signup_img_video {
  height: 210px;
  width: 500px;
  position: absolute;
  margin-left: -50px;
  margin-top: 35px;
}
