.slider {
  display: flex;
  position: relative;

  &__container {
    display: flex;
    padding: 0 4%;
    transition: transform 400ms ease 100ms;
    z-index: 3;
    width: 100%;
  }

  &:not(&--open) .item:hover {
    transform: scale(1.5) translateY(-50%) !important;
    z-index: 10;
    transition-delay: 0.5s;
  }
  &:not(&--left) .item:hover {
    transform: scale(1.5) translateY(-50%) translateX(16.5%) !important;
    z-index: 10;
    transition-delay: 0.5s;
  }

  &:not(&--right) .item:hover {
    transform: scale(1.5) translateY(-50%) translateX(-16.5%) !important;
    z-index: 10;
    transition-delay: 0.5s;
  }

  &:not(&--open):hover .item {
    transform: translateX(-25%);
    transition-delay: 0.5s;
  }

  &:not(&--right):hover .item {
    transform: translateX(-50%);
    transition-delay: 0.5s;
  }

  &:not(&--open) .item:hover ~ .item {
    transform: translateX(25%);
    transition-delay: 0.5s;
  }

  &:not(&--left) .item:hover ~ .item {
    transform: translateX(50%);
    transition-delay: 0.5s;
  }
  
  &:not(&--open) .item:hover .show-card-content {
    visibility: visible;
    border: 0.01px solid rgba(255, 255, 255, 0.2);
    transition-delay: 0.5s;
  }

  &:not(&--open) .item:hover .show-card-title {
    transition-delay: 0.5s;
  }

  &:not(&--open) .item:hover .rating-image {
    transition-delay: 0.5s;
    visibility: visible;
  }
}