.content {
  position: relative;
  height: 37vw;
  margin-top: 20px;
  z-index: 5;

  &__background,
  &__background__shadow,
  &__background__image,
  &__area {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &__background {
    left: 0;
    right: 0;

    &__shadow {
      left: 0;
      background: #000;
      width: 40%;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        background-image: linear-gradient(to right,#000,transparent);
        top: 0;
        bottom: 0;
        left: 100%;
        width: 275px;
      }
    }

    &__image {
      right: 0;
      width: 60%;
      height: 100%;
      background-position: center 10%;
      background-size: cover;
      z-index: 1;
    }
  }

  &__area {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 3;

    &__container {
      padding: 20px 40px;
      width: 40%;
      color: wheat;
    }
  }

  &__title {
    font-size: 3.5vw;
    color: #fff;
    font-weight: 700;
  }

  &__description {
    font-size: 1.2vw;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    margin-bottom: 12px;
    max-width: 500px;
  }
  
  &__information {
    margin-top: 20px;
    max-width: 500px;
    &__title {
      font-size: 1vw;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 1vw;
    }
    &__content {
      font-size: 1vw;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__close {
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}