.login_back {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/33a85845-b76d-4e18-a74c-5859e3978a91/b4d69ed1-965f-49d2-abc2-02d4d0ae6ffb/KR-ko-20210308-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  margin-top: -64px;
}

.login_page {
  background-color: rgba(0, 0, 0, 0.5);
}

.login_div_back {
  margin: 0 auto;
  width: 100vw;
  max-width: 450px;
  height: 100vh;
  padding-top: 30px;
}

.login_div {
  background-color: rgba(0, 0, 0, 0.7);
  height: 350px;
  width: 314px;
  padding: 60px 68px;
}

.login_div_login {
  color: white;
  margin-bottom: 25px;
}
