.smallSlider {
  
  .slick-prev:before {
    left: 12px;
  }
  
  .slick-next:before {
    right: 9px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    color: rgb(150, 150, 150);
    position: relative;
    top: -25px;
  }

}

.smallMovieBox {
  cursor: grab;

  .smallimage {
    margin: 0 10px 0 10px;
    width: 100px;
    height: 140px;
    border-radius: 6px;
  }
  
  .smallmovieInfo {
    margin: 0 10px 0 10px;
  
    .smallmovieTitle {
      width: 100%;
      height: 30px;
      outline: none;
  
      p {
        // 아래 세 줄 : overflow 을 위한 코드...
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
        font-size: 14px;
        margin: 10px 0 0 0;
      }
    }
  
    .smallmovieRate {
      display: flex;
      margin-top: -5px;
      height: 12px;
      color: orange;
  
      .smalliconStar {
        font-size: 12px;
        margin: 0 3px;
      }
  
      .smallmovieScore {
        font-size: 13px;
      }
      .smallmovieScorePink {
        color: #ff0073;
      }
    }
  }
  
}
