.content {

  &__description {
    font-size: 1.1vw;
    font-weight: 600;
    line-height: 2vw;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1vw;
    margin-bottom: 1vw;
    max-width: 500px;
  }
  
  &__information {
    display: flex;
    margin: 0.3vw 0;
    &__title {
      font-size: 1vw;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 1vw;
    }
    &__content {
      font-size: 1vw;
      color: rgba(255, 255, 255, 0.5);
    }
    &__member {
      cursor: pointer;
      &:hover {
        color: rgba(255, 255, 255, 1) !important;
      }
    }
  }

  &__button_box {
    margin-top: 1.5vw;
    color: white;
    display: flex;
  }

  &__play_box {
    background-color: white;
    display: flex;
    color: black;
    border-radius: 5px;
    padding: 0.4vw 1vw 0.4vw 0.5vw;
    margin-right: 10px;
    cursor: pointer;
    &__play-button {
      color: black;
      height: 100%;
      margin-right: 2px;
      width: 2vw;
      height: 2vw;
    }
    &__text {
      display: flex;
      font-size: 1.2vw;
      font-weight: 700;
      align-items: center;
    }
  }
  &__play_box:hover {
    background-color: rgb(230, 230, 230); 
  }
  
  &__common-button {
    cursor: pointer;
    border-radius: 50%;
    margin-right: 0.6vw;
    border: 2px solid gray;
    width: 6%;
    height: 75%;
    padding: 0.3vw
  }
  
  &__common-button:hover {
    border: 2px solid white;
  }

  &__score_box {
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
    margin-top: 1vw;
    &__text {
      font-size: 1.1vw;
      width: 35%;
      margin-right: 2vw;
      font-weight: 700;
    }
    &__score {
      display: flex;
      align-items: center;
    }
  }
}