.footerContainer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #1C1D1F;
    height: 150px;
}

.footerText {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    color: grey;
}
