
.footerText {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    color: grey;
}

.footerContainer {
    width: 100%;
    background-color: #1C1D1F;
    height: 150px;
    padding: 20px 0 15px 0;
}
