.signup_section_div {
  width: 950px;
  margin: 0 auto;
  padding: 200px 0;
  color: white;
  text-align: center;
}
.signup_section_div_text {
  font-size: 3rem;
  font-weight: bold;
}

.signup_section_div_text2 {
  font-size: 1.5rem;
  margin-top: 15px;
}
.signup_form {
  margin-top: 15px;
}

.signup_form_div {
    width: 600px;
    margin: 25px auto;
}
