.userStaticsBox {
  width: 600px;
  margin: 0 auto;
  padding: 85px 0 30px 0;

  hr {
    border: 0;
    border-bottom: 1px solid #f0f0f0;
  }

  .roundedCornerBox {
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    overflow: hidden;
    margin: 12px 0 20px;

    .staticsWallPaper {
      width: 100%;
      height: 280px;
      background: linear-gradient(to right, #ff0073, #f872aa);

      .usText {
        margin: -10px 0 0 33px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
      }

      .profile {
        position: relative;
        top: 95px;
        margin-left: 30px;

        .profileIconImg {
          width: 40px;
          border-radius: 60%;
          position: relative;
          top: 13px;
          left: 1px;
          margin-right: 10px;
        }
      }
    }

    .paddingBox {
      margin: 0 20px 10px 20px;
      border-color: #e3e3e3 !important;
    }
  }
}

.graph {
  height: 200px;
  background-color: rgb(248, 169, 218);
}

.gcWrap {
  width: 100%;
  padding: 20px 0 21px 0;
  
  .gcUl {
    padding-inline-start: 0;
  }

  .gcli {
    display: inline-block;
    list-style: none;
    width: 33%;
    text-align: center;
    
    .gcBoldText {
      font-size: 17px;
      font-weight: 700;
      line-height: 19px;
      margin: 0 0 4px;
    }
    .gcText {
      font-size: 12px;
      color: #787878;
      font-weight: 400;
      line-height: 19px;
    }
  }
}

.smallSliderWrap {
  height: 230px;
}

.logoImage {
  height: 60px;
  margin: 20px 0 0 20px;
}
