.similarBlock {
  width: 150px;
  margin-top: 20px;
  display: inline-block;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.similarMoviesImg {
  border: 2px solid #e6e6e6;
  border-radius: 3px;
}
.similarBlock:nth-child(3n + 1) {
  margin-left: 30px;
}

.similarTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  font-weight: bold;
}

// variables
$size: 100px !default;
$thickness: 6px !default;
$base-color: #fff !default;
$wheel-color: #c30 !default;
$speed: 800ms !default;

.spinner {
  width: 50px;
  height: 50px;
  margin: 20px auto 1rem;
  border: 3px solid #616161;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin 1000ms infinite linear;
  -moz-animation: spin 1000ms infinite linear;
  -ms-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
