.footerContainer {
  // width: 100%;
  background-color: black;
  height: 150px;
  line-height: 20px;
  padding-top: 60px;
  padding-left: 10px;
  margin-top: 50px;
}

.footerText {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  color: grey;
}
