.item {
  flex: 0 0 19.7%;
  transition: transform 300ms ease 100ms;
  margin: 0 2px;
  min-width: 150px;
  max-width: 231px;
}
@media ( max-width: 1023px ) {
  .item {
    flex: 0 0 24.7%;
  }
}

@media ( max-width: 767px ) {
  .item {
    flex: 0 0 29.7%;
  }
}

@media ( max-width: 600px ) {
  .item {
    flex: 0 0 45.7%;
  }
}

.image-style {
  height: 100%;
  width: 500px;
  vertical-align: top;
}

.show-card-content {
  position: absolute;
  background-color: rgb(25, 25, 25);
  display: none;
  // visibility: hidden;
  color: white;
}

.play-button {
  color: black;
  margin-right: 3px;
  background-color: white; 
  border-radius: 50%; 
  width: 15px !important; 
  height: 15px !important;
  padding: 3px; 
  border: 2px solid white;
}

.play-button:hover {
  background-color: rgb(230, 230, 230); 
}

.common-button {
  border-radius: 50%;
  margin-right: 3px;
  border: 2px solid gray;
  width: 15px !important; 
  height: 15px !important;
  padding: 3px;
}

.common-button:hover {
  border: 2px solid white;
}

.end-button {
  border-radius: 50%;
  margin-right: 3px;
  border: 2px solid gray;
  width: 15px !important; 
  height: 15px !important;
  padding: 3px;
  position: absolute;
  right: 0;
}

.end-button:hover {
  border: 2px solid white;
}