.slider {
  display: flex;
  position: relative;

  &__container {
    display: flex;
    padding: 0 4%;
    transition: transform 400ms ease 100ms;
    z-index: 3;
    width: 100%;
  }

  &:not(&--open) .item:hover .show-details-button {
    opacity: 1;
    transition-property: opacity;
  }
  

  &:not(&--open) .item:hover {
    transform: scale(1.3) translateY(-5%) !important;
    z-index: 10;
  }

  &:not(&--left) .item:hover {
    transform: scale(1.3) translateY(-5%) translateX(11%) !important;
    z-index: 10;
  }

  &:not(&--right) .item:hover {
    transform: scale(1.3) translateY(-5%) translateX(-11%) !important;
    z-index: 10;
  }

  &:not(&--open):hover .item {
    transform: translateX(-15%);
  }

  &:not(&--right):hover .item {
    transform: translateX(-29%);
  }

  &:not(&--left):hover .item {
    transform: translateX(0%);
  }

  &:not(&--open) .item:hover ~ .item {
    transform: translateX(15%);
  }

  &:not(&--right) .item:hover ~ .item {
    transform: translateX(0%);
  }

  &:not(&--left) .item:hover ~ .item {
    transform: translateX(29%);
  }
  
  &:not(&--open) .item:hover .show-card-content {
    visibility: visible;
    position: relative;
  }

  &:not(&--open) .item:hover .show-card-title {
    display: none;
  }
}