.slick-prev:before,
.slick-next:before {
  color: #ddd !important;
  font-size: 23px;
}

.actorRole {
  font-size: 14px;
  color: #949191;
}

.actorImage {
  display: inline-block;
  position: relative;
  top: -2px;
  height: 56px;
  width: 56px;
  border-radius: 5px;
  position: relative;
}
.actorImg {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.peopleImage {
  display: inline-block;
  align-items: center;
  height: 56px;
  width: 56px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  position: relative;
}
.actorBlock {
  display: inline-block;
  width: 70%;
  margin-left: 5px;
  padding: 0 0 10px 5px;
  border-bottom: 1px solid #f0f0f0;
  color: #1e1e1e;
  font-size: 17px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actorName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.actorWrapper {
  margin-top: 15px;
}

.actors {
  height: 280px;
}
