@import "../../styles/common.scss";

.MovieHeaderWrapper {
  .MovieHeaderTop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
    filter: brightness(80%);
    background: black;
  }

  .MovieHeaderBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid $lightgrey;
    height: 230px;
    padding: 0 8px;

    .posterImg {
      display: flex;
      position: absolute;
      width: 769px;
      height: 199px;
      top: -20px;
      img {
        width: 11.1em;
        height: 15.3em;
        border: 2px solid #e6e6e6;
        border-radius: 5px;
        object-fit: cover;
      }

      .posterDetail {
        width: 90%;
        margin-left: 10px;
        .posterRanking {
          width: 769px;
          font-size: 13px;
          color: $grey;
          padding: 0 0 10px 25px;
          margin: 0 -4px;

          span {
            color: $lightgrey;
          }
        }

        .posterTitle {
          width: 100%;
          font-size: 25px;
          font-weight: bold;
          margin: 29px 16px 0 16px;
          padding-bottom: 15px;
          border-bottom: 1px solid rgb(235, 233, 233);
          .posterTitleDetail {
            font-size: 15px;
            font-weight: 400;
            color: $grey;
          }
        }

        .posterBottom {
          width: 100%;
          font-size: 15px;
          color: gray;
          margin: 0 16px 22px;

          .averageScore {
            border-bottom: 1px solid rgb(235, 233, 233);
            font-size: 15px;
            color: #000;
            padding: 8px 0;
          }

          .ratingContent {
            display: flex;
            margin-top: 30px;

            .buttonContainer {
              display: flex;
              width: 213px;
              height: 40px;
              margin-right: 40px;

              .zzim {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 162px;
                background-color: $pink;
                border-radius: 5px 0 0 5px;
                color: $white;
                font-size: 17px;
                font-weight: bold;
                border-width: bold;
                border-right: 1px solid $pink;
                cursor: pointer;

                .plusIcon {
                  line-height: 0px;
                  transition: 0.5s;
                  font-size: 20px;
                  margin-right: 20px;
                  &:hover {
                    transform: rotate(90deg);
                    transition: 0.5s;
                  }
                }
              }

              .unZzim {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 162px;
                background-color: $lightgrey;
                border-radius: 5px 0 0 5px;
                color: black;
                font-size: 17px;
                font-weight: bold;
                border-width: bold;
                border-right: 1px solid $lightgrey;
                cursor: pointer;

                .plusIcon {
                  line-height: 0px;
                  transition: 0.5s;
                  font-size: 20px;
                  margin-right: 20px;
                  &:hover {
                    transform: rotate(90deg);
                    transition: 0.5s;
                  }
                }
              }

              .modalBtnWrapper {
                width: 51px;
                height: 100%;
                background-color: $pink;
                border-radius: 0 5px 5px 0;
                color: #fff;
                cursor: pointer;

                .modalBtn {
                  font-size: 20px;
                  transition: 0.5s;

                  &:hover {
                    transform: translateY(5px);
                    transition: 0.5s;
                  }
                }
              }
              .unZzimModalBtnWrapper {
                width: 51px;
                height: 100%;
                background-color: $lightgrey;
                border-radius: 0 5px 5px 0;
                color: rgb(201, 199, 199);
                cursor: pointer;

                .modalBtn {
                  font-size: 20px;
                  transition: 0.5s;

                  &:hover {
                    transform: translateY(5px);
                    transition: 0.5s;
                  }
                }
              }
            }

            .starRatingBox {
              margin-top: -10px;
              .ratingTitle {
                font-size: 20px;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

.displayNone {
  display: none;
}

.bookmark {
  color: $pink;
}

.posterImgg {
  width: 100%;
  padding-top: 530px;
  filter: brightness(60%) blur(4px);
}
