.slick-prev:before,
.slick-next:before {
  color: #ddd !important;
  font-size: 23px;
  position: relative;
  top: -10px;
}

.peopleSlider {
  .actorWrap {
    width: 100%;
    margin: 0 0 10px 0;
    height: 76px;
    position: relative;

    .actorImage {
      align-items: center;
      width: 56px;
      height: 56px;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      position: relative;
    }

    .actorName {
      position: relative;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #f0f0f0;
      color: #1e1e1e;
      font-size: 17px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
