.slick-prev:before,
.slick-next:before {
  color: #ddd !important;
  font-size: 23px;
  position: relative;
  top: -10px;
}

.actorWrap {
  width: 100%;
  margin: 0 0 10px 10px;
  height: 100%;
  
  div {
    display: inline-block;
    height: 100%;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    align-items: center;
  }

  img {
    width: 56px;
    border-radius: 60%;
    border: 1px solid #e6e6e6;
    display: inline-block;
  }

  .actorInfo {
    height: 100%;
    text-align: center;
    color: #1e1e1e;
    font-size: 17px;
    font-weight: 400;
  }
}
