
.userWrapper {
    height: 1200px;
    width: 100%;
    margin-top: 30px;
}

.userBox {
    width: 600px;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 0 auto;
}

.user{
    padding: 0 20px 0 20px;

}

.wallPaper {
    width: 100%;
    height: 280px;
    margin: 0 0 -20px;
    background-image: url("/images/wallpaper2.jpg");
}

hr {
    color: "gray";
}