
.userWrapper {
    height: 100%;
    width: 100%;
    margin: 30px 0 30px 0;
    margin-bottom: 20px;
    
}

.userBox {
    width: 600px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 6px;
    margin: 0 auto;
}

.user{
    padding: 0 20px 0 20px;

}

.wallPaper {
    width: 100%;
    height: 200px;
    margin: 0 0 -20px -0.0145px;
    background: linear-gradient(to right, #141130, #1481a7);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

hr {
    color: rgb(192, 192, 192);
}

.graph {
    height: 200px;
    background-color: rgb(206, 191, 245);
}

.genreWrap{
    width: 100%;
    font-weight: bold;
}

.genreli {
    display: inline-block;
    list-style: none;
    width: 33%;
}

.smallSliderWrap {
    height: 230px;
}

.userPreference {
    width: 100%;
}

.profileIconImg {
    width: 60px;
    border-radius: 60%;
    border: 1px solid #e6e6e6;
}